#intro {
    margin: 80px;
    margin-bottom: 175px;
    color: white;
    float: right;
    font-size: large;
    background: radial-gradient(closest-side, #a92abd58 0%, #d040c222 70%, #000000 100%); 
    border-radius: 20px;

}

#headshot {
    width: 225px;
    float: left;
    margin: 22px;
    border-radius: 50%;
}

#bio {
    text-align: left;
}

.glow {
    transform-origin: center center;
    background-image: linear-gradient(to right top,#6c22bd,#8b25bb,#a52bb9,#bc34b7,#d040b5,#e645a5,#f55195,#ff6188,#ff796e,#ff965b,#f5b255,#e1cd60);
    position: absolute;
    left: 50%;
    border-radius: 20px;
    transform: skewY(-15deg) translate(-50%, -10%) scale(.7) translateZ(0px);
    pointer-events: none;

    width: 100vw;
    height: 400px;
    filter: blur(100px);
    opacity: .4;
    top: 0;
    transition: filter .25s ease-in-out,opacity .25s ease-in-out
}

/* 
better color
 */