.project-list {
    color: rgba(255, 255, 255, 0.95);
    margin-bottom: 60px;
}

.project {
    height: 325px;
    display: inline-block;
}

.description {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 500px;
    display: inline-block;

    /* background-image: linear-gradient(to right top,#4000ff95,#ae00ff79,#ea00bf7f); */
    background-image: linear-gradient(to right top,#6d22bd8a,#8b25bb75,#a62bb97c,#bc34b77d,#d040b680,#e645a66c,#f5519577,#ff61887e,#ff7a6e77,#ff975b85,#f5b2557c,#e1ce6081);
    border-radius: 300px;
    box-shadow: inset 0px 0px 40px 50px black;
    border: 5px solid black;
}

.app {
    font-size: 20px;
    font-weight: bold;
}

.video {
    margin: 20px;
    display: inline-block;
    /* border: 2px solid white; */
    border-radius: 15px;
}

.preview {
    width: 100%;
    max-width: 450px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 1px 5px 1px white;
}

/* .preview:hover {
    box-shadow: 0 1px 15px 8px white;
} */

a {
    color: rgb(2, 200, 200);
}


#fade {
    transform-origin: center center;
    background-image: linear-gradient(to right top,#6c22bd,#8b25bb,#a52bb9,#bc34b7,#d040b5,#e645a5,#f55195,#ff6188,#ff796e,#ff965b,#f5b255,#e1cd60);
    position: relative;
    left: 30%;
    border-radius: 20px;
    transform: skewY(-15deg) translate(-50%, -90%) scale(.7) translateZ(0);
    pointer-events: none;
    display: block;

    width: 700px;
    height: 300px;
    filter: blur(80px);
    opacity: .3;
    top: -100px
}

.spacer {
    height: 50px;
}

/* 
Jobly
Warbler
Boggle
Magic 8 ball
 */