#footer {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 1px 8px 3px rgba(255, 255, 255, 0.4);
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: black;
    height: 50px;
}

.socials {
    height: 32px;
    border-radius: 8px;
    margin: 10px 10px;
}

